<launch>

  <group ns="renov_up_level">
    <!-- mat document reading parameters -->
    <!-- <param name="mat_data_path" value="/home/zy/catkin_ws/src/paintingrobot/paintingrobot_underusing/painting_robot_demo/matlab/second_scan_data/second_scan_data2.mat"/>
    <param name="coverage_planner_path" value="/home/zy/catkin_ws/src/paintingrobot/paintingrobot_underusing/painting_robot_demo/scripts"/> -->

    <param name="mat_data_path" value="/data/ros/renov_robot_ws/src/paintingrobot_underusing/painting_robot_demo/matlab/second_scan_data/second_scan_data2.mat"/>
    <param name="coverage_planner_path" value="/data/ros/renov_robot_ws/src/paintingrobot_underusing/painting_robot_demo/scripts"/>
  
  </group>
</launch>
